<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {
        margin-top: 10px;
    }
    </style>
</head>

<body>
    <div id="filtro">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>Tabela de carros com Vue.js</h2>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <label class="col-form-label">Buscar (nome): </label>
                        <input class="form-control" type="text" v-model="busca">
                    </div>
                </div>
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <!--Diretiva v-on:click para disparar o método -->
                            <th>Nome <a href="#" v-on:click="ordenarCarros()"><i class="fa fa-sort-asc" aria-hidden="true"></i></a></th>
                            <th>Marca</th>
                            <th>Categoria</th>
                            <th>Motor</th>
                            <th>Câmbio</th>
                            <th>Preço</th>
                        </thead>
                        <tbody>
                            <tr v-for="carro in filteredCars">
                                <td>{{carro.nome}}</td>
                                <td>{{carro.marca}}</td>
                                <td>{{carro.categoria}}</td>
                                <td>{{carro.motor}}</td>
                                <td>{{carro.cambio}}</td>
                                <td>{{carro.preco}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@2.2.5/dist/vue.js" type="text/javascript"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
    var filtro = new Vue({
        el: '#filtro',
        data: {
            carros: [],
            busca: '',
            hasOrdered: false,
        },
        created: function() {
            this.retornaCarrosJson();
        },
        methods: {
            retornaCarrosJson: function() {
                var vm = this;
                axios.get('./json/carros.json')
                    .then(function(res) {
                        vm.carros = res.data;

                    })
                    .catch(function(err) {
                        console.log(err);
                    })
            },
            ordenarCarros: function(e) {
                //Função comparar, pega duas variaveis
                //By default, the sort() method sorts the values as strings in alphabetical and ascending order.
                function comparar(a, b) {
                    if (a.nome < b.nome)
                        return -1;
                    //Se o primeiro nome for menor que o segundo, sobe ele
                    if (a.nome > b.nome)
                        return 1;
                    //Se for maior deixa ele depois
                    return 0;
                }

                //Pega o array de carros e usa o sort/reverse com uma função de comparação dentro

                if (!this.hasOrdered) {
                    this.hasOrdered = true;
                    return this.carros.sort(comparar);
                } else {
                    this.hasOrdered = false;
                    return this.carros.reverse(comparar);
                }

            }
        },
        computed: {
            filteredCars: function() {
                var self = this
                return self.carros.filter(function(carro) {
                    return carro.nome.indexOf(self.busca) !== -1
                })
            },
        },

    })
    </script>
</body>

</html>