<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>

	<div id="filtro">
		<div class="container">
		<h2>Table with Vue.js</h2>
		
		<table class="table">
		<thead>
			<th>Nome</th>
			<th>Preco</th>
		</thead>
			<tbody>
			<tr v-for="carro in filteredCars">
				<td>{{carro.nome}}</td>
				<td>{{carro.preco}}</td>
			</tr>
			</tbody>
		</table>
		<label>Search your car by name:</label>
		<input type="text" v-model="busca">

		</div>
	</div>



	<script src="https://unpkg.com/vue@2.2.5/dist/vue.js" type="text/javascript"></script>
	<script>
		var filtro = new Vue({
            el: '#filtro',
            data: {
                carros: [
                    {nome: 'gol', preco: 16000.00},
                    {nome: 'fusca', preco: 3450.00},
                    {nome: 'uno', preco: 9000.00},
                    {nome: 'camaro', preco: 190000.00},
                    {nome: 'corsa', preco: 190000.00},
                    {nome: 'parati', preco: 190000.00},
                    {nome: 'crossfox', preco: 190000.00},
                    {nome: 'ecosport', preco: 190000.00},
                ],
                busca: '',
            },
            computed: {
			  filteredCars: function () {
			      var self = this
				  return self.carros.filter(function (carro) {
				  return carro.nome.indexOf(self.busca) !== -1
          		})
			  }
			},
            
        })
	</script>
	</body>
</html>